# Load data and dependencies

In [1]:
import pandas as pd
tech_example = pd.read_csv('Files\Example_Technical_Skills.csv')
data = pd.read_csv('Files\Raw_Skills_Dataset.csv')

In [2]:
pd.set_option('display.max_rows', 10)

In [3]:
tech_example.head(10)

                       Technology Skills
0                    SAP Fiori Developer
1  Oracle Instance Management & Strategy
2           Boomi Master Data Management
3  Digital Manufacturing on Cloud ( DMC)
4                                 DevOps
5                                 CA SAM
6                              OpenShift
7                  Acxiom Data Analytics
8                  SAP Digital Boardroom
9                          Seeburger BIS

In [4]:
data.rename(columns={'RAW DATA': 'skill'}, inplace=True)
data.columns

Index(['skill'], dtype='object')

In [5]:
data.head()

             skill
0         What ifs
1        seniority
2      familiarity
3  functionalities
4          Lambdas

# Data analysis

In [6]:
print(tech_example['Technology Skills'].nunique())
example_skills = set(tech_example['Technology Skills'].unique())

897

In [7]:
print(data.skill.nunique())
all_skills = set(data.skill.unique())
data.skill.unique()

15677

array(['What ifs', 'seniority', 'familiarity', ..., 'all applicants',
       'Self-motivated, enthusiastic and strong drive', 'negotiation'],
      dtype=object)

In [8]:
len(all_skills.difference(example_skills))

15641

In [9]:
# data.head(100)

In [10]:
# data.tail(100)

In [11]:
chars = data.skill.str.split("")
unq_chars = set()
for c in chars:
    for char in c:
        unq_chars.add(char)

In [12]:
print([char for char in unq_chars])

['', 'b', 'z', '√∂', '/', 'B', 'O', '√ü', ']', 'G', '‚ù§', '√©', 'R', '2', '%', '√§', '>', 'x', 'U', 'c', 'w', 'M', 'i', 'v', 'q', '‚Äû', '‚Ñ¢', '&', '‚Äù', '\ufeff', '\uf0b7', '‚Äô', '9', '‚Äì', '4', 'm', '¬Æ', '5', 'N', '$', 'Y', ';', '(', 'V', '√ò', '‚Äò', 'üÉè', '‚Äú', 's', 'E', 'C', 'Z', '*', "'", '8', '0', 'h', '‚Ä¢', '\u202f', 'j', 'g', 'I', 't', 'k', '\xad', 'l', '@', '√¥', '\\', ' ', 'F', '-', '\xa0', '~', '√º', 'W', ',', 'üèó', 'f', 'r', '¬∑', 'Q', ')', '.', '\u2028', '^', '¬∞', '‚àô', '‚óè', 'T', '?', ':', '\t', 'D', 'X', 'o', 'L', 'A', '"', '\n', 'J', 'K', 'e', 'y', 'u', '3', 'S', 'p', 'd', '1', '6', '+', 'H', '#', 'a', '7', '[', 'P', 'n']

In [13]:
len(unq_chars)

119

**all unique chars**

In [14]:
unique_chars = ['"',
 '#',
#  '$',
 '%',
 '&',
 "'",
 '(',
 ')',
 '*',
 '+',
#  ',',
 '-',
 '.',
 '/', 
 '~',
 '\xa0',
 '\xad',
 '¬Æ',
 '¬∞',
 '¬∑',
 '√ò',
 '√ü',
 '√§',
 '√©',
 '√¥',
 '√∂',
 '√º',
 '‚Äì',
 '‚Äò',
#  '‚Äô',
 '‚Äú',
 '‚Äù',
 '‚Äû',
 '‚Ä¢',
 '\u2028',
 '\u202f',
 '‚Ñ¢',
 '‚àô',
 '‚óè',
 '‚ù§',
 '\uf0b7',
 '\ufeff',
 'üÉè',
 'üèó']

In [ ]:
for char in unique_chars:
    intresting_data = data[data.skill.str.contains(char)]
    print(char)
    display(intresting_data)

In [46]:
data[data.skill.str.contains(',')].head()

Empty DataFrame
Columns: [skill]
Index: []

In [47]:
import spacy
nlp = spacy.load('en_core_web_md')

c:\Users\kurma\AppData\Local\Programs\Python\Python39\lib\site-packages\spacy\util.py:833: UserWarning: [W095] Model 'en_core_web_md' (3.1.0) was trained with spaCy v3.1 and may not be 100% compatible with the current version (3.2.1). If you see errors or degraded performance, download a newer compatible model or retrain your custom model with the current spaCy version. For more details and available updates, run: python -m spacy validate
  warnings.warn(warn_msg)

In [51]:
word = nlp('strong motivation and dedciated')
for token in word:
    print(token,token.pos_, token.lemma_)

strong ADJ strong
motivation NOUN motivation
and CCONJ and
dedciated VERB dedciate

In [52]:
word = nlp('report writing and editing')
for token in word:
    print(token,token.pos_)

report NOUN
writing VERB
and CCONJ
editing VERB

In [53]:
word = nlp('conceptual, logical & physical data model designs')
for token in word:
    print(token,token.pos_)

conceptual ADJ
, PUNCT
logical ADJ
& CCONJ
physical ADJ
data NOUN
model NOUN
designs NOUN

In [17]:
data[data.skill.str.contains('√©')]
# now we got french

                                                   skill
6275                                            Montr√©al
11155                             D√©veloppement Back End
21282  Professional / Exp√©riment√©(e) / Professionell ...
23753                           mod√©lisation des donn√©es
23763                                      D√©veloppement
23764      Traitement des donn√©es dans plusieurs formats
23902                 the Ordre des ing√©nieurs du Qu√©bec
33919                                 Banques de donn√©es

In [18]:
# '√ò' remove these
data[data.skill.str.contains('√§')]

                                                   skill
13385                          Selbstst√§ndige Erstellung
13392  Aktive Unterst√ºtzung der Qualit√§tssicherung f√º...
13406                             Ausgepr√§gte Kenntnisse

In [19]:
'√ü'
data[data.skill.str.contains('√ü')]
# this is german...

                                               skill
13399  Umsetzung von konkreten Optimierungsma√ünahmen
13424                    Flie√üend Englischkenntnisse

In [20]:
data[data.skill.str.contains('üèó')]

      skill
30875     üèó

In [21]:
data[data.skill.str.contains('üÉè')]

                  skill
21397  automated Jest üÉè

In [22]:
data[data.skill.str.contains('\ufeff' or '\u2028' or '')]

                                                   skill
12669                                                  Ôªø
15807  Ôªø. Mandatory Skills & Qualification Frontend d...
24187  ÔªøTier 1 Educational Background Preferred - IIT...
30841                                                  Ôªø
31575                           teamsÔªøRequirementsDegree
33632                            etc.)Ôªø. Strong aptitude

In [23]:
data.iloc[12669]
# some are empty spaces

skill    Ôªø
Name: 12669, dtype: object

In [24]:
data[data.skill.str.contains('‚ù§')]

      skill
21381     ‚ù§

In [25]:
words = data.skill.str.split(" ")
unq_words = set()
for wo in words:
    for word in wo:
        unq_words.add(word)

In [26]:
len(unq_words)

10010

**Translated skills**

In [27]:
olang_skills = set()

 # these are the charecters found in other languages
other_lang_chars = [
    '√ü',
    '√§',
    '√©',
    '√¥',
    '√∂',
    '√º'] 

# filter out the other languages
for char in other_lang_chars:
    o_data = data[data.skill.str.contains(char)]
    display(o_data)
    idx = o_data.index
    for idx_val in idx.values:
        olang_skills.add(idx_val)

                                               skill
13399  Umsetzung von konkreten Optimierungsma√ünahmen
13424                    Flie√üend Englischkenntnisse

                                                   skill
13385                          Selbstst√§ndige Erstellung
13392  Aktive Unterst√ºtzung der Qualit√§tssicherung f√º...
13406                             Ausgepr√§gte Kenntnisse

                                                   skill
6275                                            Montr√©al
11155                             D√©veloppement Back End
21282  Professional / Exp√©riment√©(e) / Professionell ...
23753                           mod√©lisation des donn√©es
23763                                      D√©veloppement
23764      Traitement des donn√©es dans plusieurs formats
23902                 the Ordre des ing√©nieurs du Qu√©bec
33919                                 Banques de donn√©es

                     skill
23780  Contr√¥le de version

                                          skill
13383  Schnittstellen f√ºr Cloud-native L√∂sungen
13390                         Software-L√∂sungen

                                                   skill
13378                                 bei der Einf√ºhrung
13379           Bewertung von IT-weit g√ºltigen Standards
13383           Schnittstellen f√ºr Cloud-native L√∂sungen
13392  Aktive Unterst√ºtzung der Qualit√§tssicherung f√º...
13394                  Durchf√ºhrung entsprechender Tests
13408  Mindset eines ‚ÄûTechnologie-Vordenkers‚Äú w√ºnsche...

In [28]:
data.iloc[list(olang_skills)]

                                                   skill
6275                                            Montr√©al
11155                             D√©veloppement Back End
21282  Professional / Exp√©riment√©(e) / Professionell ...
13378                                 bei der Einf√ºhrung
13379           Bewertung von IT-weit g√ºltigen Standards
...                                                  ...
13406                             Ausgepr√§gte Kenntnisse
13408  Mindset eines ‚ÄûTechnologie-Vordenkers‚Äú w√ºnsche...
23780                                Contr√¥le de version
13424                        Flie√üend Englischkenntnisse
33919                                 Banques de donn√©es

[20 rows x 1 columns]

In [29]:
# these skills manually translated with google translation
trans_skills = [
    "Montreal",
    "Back End Development",
    "Professional / Experienced / Professional ...",
    "at the introduction",
    "Evaluation of IT-wide applicable standards",
    "Interfaces for cloud-native solutions",
    "Independent creation",
    "data modeling",
    "software solutions",
    "Active support of quality assurance for...",
    "Conducting appropriate tests",
    "Development",
    "Processing data in multiple formats",
    "Implementation of concrete optimization measures",
    "the Order of Engineers of Quebec",
    "Pronounced knowledge",
    "Mindset of a technology pioneer wish...",
    "Version control",
    "Fluent in English",
    "Databases"
    ]

In [30]:
# repalce skills in other languages to english
data.iloc[list(olang_skills),0] = trans_skills
data.iloc[list(olang_skills)]

                                               skill
6275                                        Montreal
11155                           Back End Development
21282  Professional / Experienced / Professional ...
13378                            at the introduction
13379     Evaluation of IT-wide applicable standards
...                                              ...
13406                           Pronounced knowledge
13408        Mindset of a technology pioneer wish...
23780                                Version control
13424                              Fluent in English
33919                                      Databases

[20 rows x 1 columns]

# Clean data
- clean unwanted symbols, emojis, punctuation and spaces

In [31]:
import regex
import re
from string import digits

In [32]:
# # remove unwanted chars
# def clean(skill):
#     skill = skill.lower()
#     # if skill.contains('c++' | 'c#'):
#     if 'c++' or "c#" in skill:
#         skill.replace('c++', 'cpp')
#         skill.replace('c#', 'c-hash')
#     re.sub(r'[^a-zA-Z]+', '', skill)   #  this can remove skill like c++ or C#
#     regex.sub(r'[^\u{1F600}-\u{1F6FF}\s]', '', skill)
#     return skill

In [33]:
#  clean the dataset
unwanted_chars = ['"',
 '#',
 '$',
 '%',
 '&',
 "'",
 '(',
 ')',
 '*',
 '+',
 ',',
#  '-',
 '.',
 '/', 
 '~',
 '\xa0',
 '\xad',
 '¬Æ',
 '¬∞',
 '¬∑',
 '√ò',
 '√ü',
 '√§',
 '√©',
 '√¥',
 '√∂',
 '√º',
 '‚Äì',
 '‚Äò',
 '‚Äô',
 '‚Äú',
 '‚Äù',
 '‚Äû',
 '‚Ä¢',
 '\u2028',
 '\u202f',
 '‚Ñ¢',
 '‚àô',
 '‚óè',
 '‚ù§',
 '\uf0b7',
 '\ufeff',
 'üÉè',
 'üèó',
 ":"
 ]

def clean(skill):
    skill = skill.lower()
    if 'c++' or "c#" or ".net" in skill:
        skill = skill.replace('c++', 'cpp')
        skill = skill.replace('c#', 'c-hash')
        skill = skill.replace('.net', 'dot-net')
    # remove unwanted characters 
    # skill = re.sub(skill, "[d]", "")
    skill = skill.translate(digits)
    skill = skill.replace('/', ' and ')
    for char in unwanted_chars:
        skill = skill.replace(char, '')
    return skill

In [34]:
# pd.set_option('display.max_rows', None)

In [35]:
data = data.applymap(clean)

In [38]:
tech_example = tech_example.applymap(clean)

In [242]:
data.head(20)

                                        skill
0                                    what ifs
1                                   seniority
2                                 familiarity
3                             functionalities
4                                     lambdas
..                                        ...
15                            git familiarity
16                                      maven
17                         gradle familiarity
18                     continuous integration
19  continuous delivery development processes

[20 rows x 1 columns]

In [249]:
data.tail(30)

                                              skill
34086                 roku applications development
34087                             roku applications
34088                       brightscript scenegraph
34089                             other tech stacks
34090                        beneficial html and js
...                                             ...
34111                                   negotiation
34112                                     deadlines
34113  self-motivated enthusiastic and strong drive
34114                                   negotiation
34115                                     deadlines

[30 rows x 1 columns]

In [39]:
data.iloc[21381]

skill
Name: 21381, dtype: object

0

# Extract tech skills

- The goal of the notebook here is to seperate technincal skills from given list of skills
- tech skills --> "Technical skills include tools and machines on which you work and get proficiency after a certain time."
- soft skills --> "Soft skills on the other hand are the interpersonal skills or people skills that can be used in any/every job"

In [40]:
print(data.skill.nunique())
all_skills = set(data.skill.unique())

14752

In [41]:
tech_example.applymap(clean)
example_skills = set(tech_example['Technology Skills'].unique())

In [42]:
all_skills.intersection(example_skills)

{'activemq',
 'adobe photoshop',
 'amazon lambda',
 'apache oozie',
 'bash',
 'bitbucket',
 'bluetooth',
 'consul',
 'cortex',
 'devops',
 'drm',
 'eac',
 'eclipse',
 'embedded systems',
 'ethereum',
 'forcecom',
 'ftp',
 'github',
 'guidewire policycenter',
 'gulp',
 'javascript frameworks',
 'katalon',
 'kotlin',
 'magento',
 'microsoft azure networking',
 'mysql',
 'netflow',
 'netsuite',
 'nuget',
 'octopus deploy',
 'onestream',
 'openshift',
 'oracle database',
 'phantom',
 'postgis',
 'radius',
 'recruiting',
 'sap analytics cloud',
 'sap integration',
 'sap lumira',
 'sas base',
 'sas enterprise guide',
 'sas jmp',
 'scikit-learn',
 'scss',
 'solidity'}

- A simple and naive approach is to have a set of soft skills and filter them out from our data.

In [119]:
# list of soft skills manually collected from the web
soft_skills = [
    "Attention",
    "Integrity",
    "Persistence",
    "Time management",
    "communication",
    "Passionate",
    "motivated",
    "Flexibility",
    "Optimism",
    "Consistency",
    "organised",
    "Curiosity",
    "Taking calculated risks",
    "Teamwork",
    "Research",
    "leadership",
    "Creativity",
    "Confidence",
    "Active listening",
    "Adaptability",
    "collaboration",
    "positive attitude",
    "integrity",
    "courtesy",
    "Trustworthiness",
    "Honesty",
    "Kindness",
    "Focusing",
    "Attentiveness",
    "Public Speaking",
    "Clear Speech and Writing",
    "NonVerbal Communication",
    "Presentation Skills",
    "Listening Skills",
    "Industriousness",
    "Perseverance",
    "Determination",
    "Diligence",
    "Committing",
    "Productiveness",
    "Efficiency",
    "Self Motivation",
    "Punctuality",
    "Respectability",
    "Consideration",
    "Pragmatism",
    "Mentoring",
    "Persuasion",
    "deadlines managment",
    "Presentation skills",
    "Diplomacy",
    "Networking",
    "Patience",
    "Storytelling",
    "Confidence",
    "Negotiation",
    "Tolerance",
    "Sensitivity",
    "Innovation",
    'Reasoning',
    "Inspiration",
    "Innovation",
    "Imagination",
    'Agility',
    "Coaching",
    "Versatility",
    "self driven",
    "enthusiastic"
]

In [120]:
soft_skills_lemma = [] 

def get_softskill_lemma(word):
    word = word.lower()
    doc = nlp(word)
    for token in doc:
        soft_skills_lemma.append(token.lemma_)

In [121]:
for word in soft_skills:
    get_softskill_lemma(word)
soft_skills_lemma[:5]

['attention', 'integrity', 'persistence', 'time', 'management']

In [137]:
from nltk.stem.snowball import SnowballStemmer
def get_stem(word):
    stemmer = SnowballStemmer("english")
    return stemmer.stem(word)

In [138]:
soft_skills_stem = []
for word in soft_skills:
    get_softskill_lemma(word)
soft_skills_lemma[:5]

['attention', 'integrity', 'persistence', 'time', 'management']

In [122]:
def get_lemma(word):
    word = word.lower()
    doc = nlp(word)
    lemma_list = []
    for token in doc:
        lemma_list.append(token.lemma_)
    return lemma_list

In [ ]:
def get_stem(word):
    stemmer = SnowballStemmer("english")
    return stemmer.stem(word)

In [103]:
tech_example['techskills_lemma'] = tech_example['Technology Skills'].apply(get_lemma)
tech_example

,Technology Skills,techskills_lemma
0,sap fiori developer,"[sap, fiori, developer]"
1,oracle instance management strategy,"[oracle, instance, management, , strategy]"
2,boomi master data management,"[boomi, master, datum, management]"
3,digital manufacturing on cloud dmc,"[digital, manufacturing, on, cloud, , dmc]"
4,devops,[devop]
...,...,...
974,oracle cloud revenue management,"[oracle, cloud, revenue, management]"
975,oracle ebs grid contral mgt pack,"[oracle, ebs, grid, contral, mgt, pack]"
976,amazon elastic mapreduce emr,"[amazon, elastic, mapreduce, emr]"
977,apache kudu,"[apache, kudu]"
978,oracle esb,"[oracle, esb]"

In [104]:
tech_skills_list = []
for tech in tech_example.techskills_lemma:
    tech_skills_list.extend(tech)

In [65]:
from nltk.corpus import  stopwords
stopwords  = stopwords.words('english')
stopwords[:10]

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

In [105]:
tech_skills_set = set(tech_skills_list) - set(stopwords)
tech_skills_set = tech_skills_set -set(unwanted_chars)
tech_skills_list = list(tech_skills_set)

In [106]:
# if we have parts of speech proper-noun tag then in most likely be some tool or technology (so extract them)
def get_nouns(word):
    doc = nlp(word)
    nouns_list = []
    for token in doc:
        if token.pos_ == 'PROPN' or token.pos_ == 'NOUN':
            nouns_list.append(token.text)
    return nouns_list

In [126]:
def get_pnouns(word):
    doc = nlp(word)
    nouns_list = []
    for token in doc:
        if token.pos_ == 'PROPN':
            nouns_list.append(token.text)
    return nouns_list

In [108]:
get_nouns('apache kudu developer')

['apache', 'kudu', 'developer']

In [127]:
get_pnouns('apache kudu developer')

['apache', 'kudu']

In [109]:
data['skill_lemma'] = data['skill'].apply(get_lemma)

In [ ]:
data['nouns'] = data['skill'].apply(get_nouns)

In [128]:
data['pnouns'] = data['skill'].apply(get_pnouns)

In [111]:
data.tail()

,skill,skill_lemma,nouns
34111,negotiation,[negotiation],[negotiation]
34112,deadlines,[deadline],[deadlines]
34113,self-motivated enthusiastic and strong drive,"[self, -, motivate, enthusiastic, and, strong,...","[self, drive]"
34114,negotiation,[negotiation],[negotiation]
34115,deadlines,[deadline],[deadlines]

In [125]:
'negotiation' in soft_skills_lemma

True

In [136]:
get_stem('negotiation')

'negoti'

In [144]:
data.iloc[1,2]

['seniority']

In [ ]:
for i in range(len(data)):
    if len(data.iloc[i,2]) > 0:
        data.iloc[i,2] = data.iloc[i,2][0]

In [145]:
extracted_skills = []
for i in range(len(data)):
    s = data.iloc[i,2]
    if len(s) > 0 and s not in soft_skills_lemma:
        extracted_skills.append(s)

In [148]:
#  the extracted skills list is not 100% accurate, but it is a good approach
#  extracted_skills is list of technical skills
extracted_skills[100:120]

[['raft'],
 ['map', 'multicast'],
 ['paxos'],
 ['ci', 'cd'],
 ['github'],
 ['microservices'],
 ['aws'],
 ['rest', 'servicesexperience', 'writing', 'tools'],
 ['ruby'],
 ['perlexperience'],
 ['bazel'],
 ['toolingscala', 'programming', 'experienceknowledge'],
 ['http'],
 ['protocolsexperience'],
 ['experience', 'building', 'cloud', 'environments'],
 ['unix', 'linux', 'experience', 'programming', 'experience'],
 ['python', 'shell'],
 ['ipc', 'mechanisms'],
 ['tcp', 'ip'],
 ['kafka']]

In [149]:
len(extracted_skills)

31060

In [151]:
extracted_skills_set = set()

for list in extracted_skills:
    for word in list:
        if word not in soft_skills_lemma:
            extracted_skills_set.add(word)

In [153]:
#  these are unique skills extracted from the data
len(extracted_skills_set)

4865

In [154]:
extracted_skills_set

{'gateways',
 'xquery',
 'solutionsagainst',
 'assignments',
 'screen',
 'pharmacies',
 'transfers',
 'calgary',
 'containment',
 'webapp',
 'analysis',
 'commons',
 'disabilities',
 'ufw',
 'choices',
 'solana',
 'lake',
 'outreach',
 'coworking',
 'procurementand',
 'qtp',
 'bazel',
 'adoptions',
 'authentication',
 'artifact',
 'dialog',
 'bots',
 'redshift',
 'memory',
 'quantities',
 'portal',
 'client',
 'allen',
 'hadoop',
 'autosar',
 'cmis',
 'slis',
 'elixir',
 'pipe',
 'plumbing',
 'cpt',
 'result',
 'supervision',
 'assistants',
 'normalisation',
 'wix',
 'workloads',
 'po',
 'contribution',
 'siebel',
 'optimisation',
 'qualification',
 'mbtcp',
 'malfunctions',
 'ant',
 'frontend',
 'pcie',
 'phone',
 'generating',
 'futures',
 'lans',
 'vusmartmaps',
 'intruder',
 'shortcomings',
 'labview',
 'jms',
 'sysc',
 'pitfalls',
 'resume',
 'purposehelm',
 'diop',
 'topics',
 'loader',
 'ship',
 'playback',
 'networks',
 'co-',
 'interactions',
 'xdr',
 'community',
 'basics',
 'vhdl',
 'deliverables',
 'macros',
 'leader',
 'b3',
 'optimizationexperience',
 'perspectives',
 'illustrator',
 'register',
 'qlik',
 'recommender',
 'scorecards',
 'photoshop',
 'knowledge',
 'narratives',
 'stories',
 'work',
 'compressors',
 'normalization',
 'ams',
 'technologiesin',
 'teamdelivers',
 'schemas',
 'market',
 'cd',
 'jaeger',
 'entuitys',
 'house',
 'components',
 'uart',
 'airworthiness',
 'bulk',
 'strategies',
 'offs',
 'destinations',
 'completeness',
 'computing',
 'place',
 'polaris',
 'ip',
 'background',
 'impala',
 'zb',
 'literacy',
 'lin',
 'rtf',
 'discovery',
 'ecu',
 'psg',
 'espers',
 'working',
 'teamcity',
 'kernels',
 'springboot',
 'effects',
 'systemsfamiliarity',
 'ooa',
 'bayshore',
 'sysbios',
 'aws',
 'dagger',
 'eai',
 'ports',
 'semiconductor',
 'discipline',
 'micro',
 'licenses',
 'registration',
 'alarms',
 'kolkata',
 'cpi',
 'flume',
 'containers',
 'challenges',
 'notifications',
 'h20',
 'endpoint',
 'premier',
 'telegraf',
 'net45',
 'vlan',
 'servlets',
 'falco',
 'firms',
 'carrier',
 'joiner',
 'reinforcement',
 'segment',
 'ambitions',
 'hires',
 'products',
 'atlas',
 'consultants',
 'driver',
 'commonality',
 'sqoop',
 'siemens',
 'qc',
 'aws\\',
 'debug',
 'mhe',
 'lambdas',
 'resilience',
 'cdws',
 'controllers',
 'upload',
 'excitation',
 'primitives',
 'ece',
 'struts',
 'assemblies',
 'decisions',
 'simd',
 'greenhills',
 'gof',
 'jama',
 'net',
 'ftp',
 'frequency',
 'iit',
 'cdps',
 'itunes',
 'externals',
 'm2',
 'landscape',
 'drools',
 'reality',
 'mdx',
 'coroutines',
 'aircall',
 'levels',
 'regulation',
 'mdb',
 'tag',
 'stacks',
 'lite',
 'netflow',
 'redux',
 'xray',
 'f2p',
 'equivalency',
 'oozie',
 'device',
 'kits',
 'leaks',
 'extranet',
 'servicesexperience',
 'phd',
 'javastrong',
 'action',
 'attribute',
 'adfv2',
 'css3object',
 'foundations',
 'initiative',
 'telco',
 'serversdlc',
 'langages',
 'resumes',
 'assessment',
 'periscope',
 'snowflake',
 'suitesbuild',
 'seoul',
 'way',
 '1s',
 'mariadb',
 'pdit',
 'statflo',
 'technicians',
 'requisitions',
 'openness',
 'io',
 'catalogue',
 'craftsmanship',
 'svn',
 'tpm',
 'vendors',
 'difficulty',
 'documentation-',
 'teradata',
 'sysops',
 'gdpr',
 'readiness',
 'movement',
 'jlr',
 'cognos',
 'jd',
 'datahub',
 'soql',
 'pyspark',
 'solarwinds',
 'transponder',
 'part',
 'cvi',
 'gamp',
 'agent',
 'myntra',
 'manufacturing',
 'markets',
 'ms',
 'generations',
 'containments',
 'harnesses',
 'rituals',
 'impressions',
 'entries',
 'posture',
 'dsp',
 'scenegraph',
 'bscs',
 'm4',
 'bases',
 'cryptography',
 'subcontractors',
 'conclusions',
 'lab',
 'polices',
 'solidityknowledge',
 'illnesses',
 'apis',
 'productions',
 'pvt',
 'aci',
 'orgs',
 'adms',
 'basel',
 'plc',
 'humour',
 'collaborative',
 'zurich',
 'codes',
 'debuggers',
 'telecom',
 'cause',
 'architect',
 'front-',
 'kmm',
 'privacy',
 'pytorch',
 'conceptualization',
 'fleet',
 'emr',
 'nextgen',
 'oversight',
 'db2',
 'institution',
 'cloud9',
 'pega',
 'tfs',
 'strategy',
 'accomplishments',
 'methodologies',
 'brainstorm',
 'zendesk',
 'ebusiness',
 'fields',
 'route',
 'kapow',
 'thread',
 'renewal',
 'upgitlab',
 'getter',
 'graduation',
 'minimum',
 'troubleshoot',
 'expressions',
 'lifecycle',
 'ivi',
 'kit',
 'postinstallation',
 'throughput',
 'bp',
 'soap',
 'experts',
 'loopback',
 'hyperion',
 'html',
 'twitter',
 'centos',
 'game',
 'apprentice',
 'contractors',
 'retailers',
 'repeatability',
 'energy',
 'aspects',
 'measurement',
 'adf',
 'v',
 'dl',
 'prevent',
 'proficiencies',
 'balancer',
 '9aws',
 'bcp',
 'perfection',
 'fantom',
 'submissions',
 'brainstorming',
 'ex',
 'preparation',
 'explorer',
 'pmc',
 'parcel',
 'web3',
 'brilliance',
 'asic',
 'scpi',
 'responses',
 'cio',
 'component',
 'reports',
 'warsaw',
 'developement',
 'people',
 'sidekiq',
 'haves',
 'webdriver',
 'cyber',
 'microprocessor',
 'msaz',
 'merits',
 'fnality',
 'jee',
 'ecosystem',
 'dataframe',
 'permutations',
 'nltk',
 'healthcare',
 'alcumus',
 'vsts',
 'iaas',
 'manager',
 'winforms',
 'protobuf',
 'dmm',
 'charts',
 'node',
 'spml',
 'xero',
 'pcb',
 'segmentation',
 'exploration',
 'delays',
 'goals',
 'densities',
 'drivers',
 'appd',
 'leanplum',
 'davinci',
 'riak',
 'cloud',
 'maven',
 'balancers',
 'computer',
 'mongo',
 'ancestry',
 'medicare',
 'companys',
 'methodology',
 'mapreduce',
 'ecctis',
 'premise',
 'optimieren',
 'eda',
 'wrangling',
 'uft',
 'pcftools',
 'bangalore',
 'masterplans',
 'benefit',
 'thales',
 'firehose',
 'builder',
 'constraints',
 'iptables',
 'blockchains',
 'post',
 'klarna',
 'mediamath',
 'digit',
 'infosec',
 'army',
 'presentations',
 'bus',
 'undergraduate',
 'degradation',
 'cosmosdb',
 'language',
 'iam',
 'backup',
 'mtech',
 'technical',
 'blade',
 'dlp',
 'catia',
 'roadmaps',
 'mmorpgs',
 'filling',
 'graphing',
 'operator',
 'hibernate',
 'beaglebone',
 'modbus',
 'ni',
 'localization',
 'payments',
 'm0',
 'wallets',
 'troubleshoots',
 'dsx8000',
 'ipsec',
 'ng',
 'defender',
 'proxy',
 'cdw',
 'undergrad',
 'conciseness',
 'vba',
 'csg',
 'interdependencies',
 'withdocker',
 'i18n',
 'platformendeca',
 'load',
 'safeguards',
 'aurora',
 'examination',
 'srms',
 'representatives',
 'dashboard',
 'page',
 'caffe',
 'specialists',
 'documentations',
 'jax',
 'suites',
 'library',
 'javascipt',
 'ui',
 'iteration',
 'quic',
 'fw',
 'ceh',
 'epoc',
 'cloudwatch',
 'mockito',
 'styling',
 'ones',
 'district',
 'reductions',
 'insulation',
 'postgres',
 'lockdowns',
 'budget',
 'civils',
 'rxjava',
 'geo',
 'houston',
 'ts',
 'specifications',
 'cism',
 'esxi',
 'dell',
 'containerisation',
 'invision',
 'pc',
 'transcripts',
 'jenkin',
 'evidence',
 'enhancements',
 'accessibility',
 'bureaucracy',
 'aproject',
 'base',
 'env',
 'steer',
 'vxrail',
 'azure',
 'ownership',
 'shape',
 'deloitte',
 'query',
 'batch',
 'upgrades',
 'types',
 'compatibility',
 'botsync',
 'depot',
 'wsap',
 'ventilation',
 'linkerd',
 'lambda',
 'model-',
 'decommission',
 'toolsets',
 'capability',
 'slo',
 'perks',
 'indices',
 'timing',
 'issue',
 'rtos',
 'incidents',
 'crawlers',
 'cloudsense',
 'clojure',
 'dimetra',
 'attributes',
 'departments',
 'satellites',
 'helm',
 'tokenization',
 'speechmatics',
 'pg',
 'touch',
 'elementor',
 'tdam',
 'grover',
 'mockups',
 'interfacesconcurrency',
 'planning',
 'warehouse',
 'nat',
 'bradley',
 'ea',
 'postman',
 'strengths',
 'obsession',
 'cxf',
 'adobe',
 'cohesion',
 'package',
 'practitioners',
 'coverages',
 'redgate',
 'liaison',
 'optionals',
 'languages',
 'bioinformatics',
 'angularjs',
 'ims',
 'dayforce',
 'guidewire',
 'sparx',
 'workload',
 'antenna',
 'organization',
 'matching',
 'tool',
 'svms',
 'mdm',
 'waf',
 'sonar',
 'twig',
 'mscs',
 'brno',
 'classic',
 'ethernet',
 'async',
 'jstl',
 'ego',
 'tradeoff',
 'mulesoft',
 'health',
 'grids',
 'modifications',
 'evaluation',
 'blueprint',
 'operability',
 'dss',
 'openidconnect',
 'wind',
 'mscscience',
 'exhibitions',
 'fullstack',
 'javacreational',
 'telematics',
 'set',
 'specialism',
 'assistance',
 'intelligence',
 'hire',
 'compatibleblockchains',
 'hockeyapp',
 'nightshifts',
 'autonomy',
 'gradledocker',
 'release',
 'tam',
 'manger',
 'cts',
 'writing',
 'arbeitsweisen',
 'kick',
 'nginx',
 'isilon',
 'minifiers',
 'practise',
 'cap',
 'cae',
 'bitcoin',
 'name',
 'activemq',
 'layout',
 'point',
 'aix',
 'entertainment',
 'forecasts',
 'logicmonitor',
 'workshops',
 'rig',
 'neoload',
 'podcasts',
 'mpc',
 'emergencies',
 'pentests',
 'backhaul',
 'stage',
 'protection',
 'pentaho',
 'mybatis',
 'scanners',
 'babel',
 'sets',
 'thrift',
 'microchip',
 'snoop',
 'tokens',
 'hinge',
 'livecycle',
 'mclaren',
 'anodejs',
 'bajo',
 'mandates',
 'days',
 'architectural',
 'algorithms',
 'filtering',
 'style',
 'mastercard',
 'queues',
 'breaches',
 'logistics',
 'krakow',
 'bods',
 'adherence',
 'reconfiguration',
 'marketplaces',
 'mentorship',
 'sinatra',
 'csr',
 'timeliness',
 'coat',
 'ganglia',
 'unit',
 'theory',
 'diagnostics',
 'qualys',
 'couchbase',
 'bandung',
 'banks',
 'obligations',
 'o9lamp',
 'sales',
 'pwa',
 'xl',
 'iis',
 'files',
 'experience',
 'budgets',
 'visio',
 'workspaces',
 'pixels',
 'isis',
 'root',
 'catalyst',
 'bonding',
 'cro',
 'spinaker',
 'personality',
 'pic',
 'campaigns',
 'portfolios',
 'lint',
 'optimize',
 'postmortems',
 'efficiencies',
 'prometheus',
 'purchase',
 'mask',
 'founders',
 'phuket',
 'ctrs',
 'workstations',
 'ends',
 'hexagon',
 'idp',
 'worlds',
 'shippable',
 'cockpit',
 '8d',
 'driving',
 'marts',
 'residency',
 'recommendations',
 'intake',
 'vpns',
 'linux;google',
 'symfony',
 'wares',
 'm3',
 'gmp',
 'toolscontribute',
 'manner',
 'contributor',
 'jta',
 'pi',
 'rideflag',
 'rubrik',
 'resolution',
 'idea',
 'clarifications',
 'webapps',
 'ideation',
 'ecosystems',
 'composer',
 'understandingrecommender',
 'tailwind',
 'tenacity',
 'geotab',
 'spacy',
 'inclination',
 'indesign',
 'omx',
 'meng',
 'bespoke',
 'shop',
 'gnu',
 'array',
 'slas',
 'suppliers',
 'covid-19',
 'solr',
 'bachelor',
 'boutique',
 'logicmonitors',
 'labs',
 'octopus',
 'head',
 'mentors',
 'ecc6',
 'core',
 'crews',
 'workplace',
 'factors',
 'dsps',
 'waist',
 'iot',
 'bilingualism',
 'master',
 'sli',
 'atdd',
 'hr',
 'montreal',
 'molexs',
 'failures',
 'gerrit',
 'activities',
 'designer',
 'content',
 'architektur',
 'billing',
 'ons',
 'acls',
 'aas',
 'cse',
 'help',
 'rsa',
 'msp',
 'wcf',
 'hybris',
 'versionone',
 'kpi',
 'manual',
 'humility',
 'greatness',
 'filesystem',
 'veracode',
 'cons',
 'lift',
 'identityiq',
 'values',
 'junior',
 'age',
 'amazon',
 'sockets',
 'profile',
 'fabric',
 'paris',
 'vyatta',
 'firmware',
 'aa',
 'processus',
 'inca',
 'sdlcunit',
 'functionality',
 'iseb',
 'vibration',
 'technologiesazure',
 'rotation',
 'expressjs',
 'lead',
 'rtx64',
 'processors',
 'language-',
 'nfs',
 'gaming',
 'ccnp',
 'livewire',
 'patternscore',
 'containerization',
 'tenant',
 'serviceability',
 'cds',
 'categorization',
 'proplus',
 'construction',
 'databasesqlite',
 'bgp',
 'koa',
 'rdp',
 'aggregate',
 'lxc',
 'dashboards',
 'elk',
 'scientist',
 'b',
 'accomplishment',
 'lua',
 'dma',
 'tuner',
 'niagara',
 'mcp',
 'rds',
 'nifi',
 'staffing',
 'syllabus',
 'procedure',
 'waterfall',
 'peripherals',
 'figment',
 'ios',
 'vlans',
 'messaging',
 'dunn',
 'confirmations',
 'pm',
 'therapies',
 'macedonia',
 'auto',
 'enterprise',
 'emi',
 'premium',
 'infocenter',
 'socket',
 'multicast',
 'asset',
 'tensorflowenterprise',
 'comptia',
 'spirent',
 'appium',
 'membership',
 'workbench',
 'c',
 'satellite',
 'jsp',
 'secs',
 'mechanism',
 'excelredstone',
 'fund',
 'qlikviewetl',
 'sequence',
 'graduate',
 'expert',
 'managers',
 'gcs',
 'athena',
 'import',
 'glonass',
 'substation',
 'fieldverification',
 'erc1155',
 'bentley',
 'administrators',
 'sandbox',
 'ssis',
 'sourcing',
 'jdk',
 'bamboo',
 'magento1x',
 'accountabilities',
 'tournaments',
 'spec',
 'ocp',
 'norms',
 'expereince',
 'applescript',
 'conjunction',
 'customizations',
 'helper',
 'cors',
 'gnn',
 'mails',
 'iphone',
 'recs',
 'configurations',
 'communications',
 ...}